<form action="/login" method="post">
    <h2>login</h2>
    <div style="background: red"><%= msg %></div> 
    email :<input type="email" name="email" />
    <br />
    password: <input type="password" name="password" />
    <br />

    <button type="Submit"> Submit </button>
</form>

<form action="/register" method="post">
    <h2>Register</h2>
    name: <input type="text" name="username" />
    <br />
    email :<input type="email" name="email"/>
    <br />
    password: <input type="password" name="password"/>
    <br/>
    <button type="Submit"> Submit </button>
</form>